.buscaContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.buscaContainer h1{
    font-size: 32px;
    color: #F9A101;
}
.buscaContainer .gridContainer{
    width: 90%;
    min-height: calc(100vh - 230px);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    align-items: center;
    justify-items: center;
    gap: 30px;
    padding: 10px 0 50px 0;
}
.buscaContainer .gridContainer .item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
}
.buscaContainer .gridContainer .item .glassContainer{
    width: 280px;
    height: 390px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    background-color: rgba(255, 255, 255, 0.2);
    border: 1px solid #ABB2B9;
    border-radius: 20px;
}
.buscaContainer .gridContainer .item img{
    width: 200px;
    border-radius: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    filter: drop-shadow(0 10px 4px rgba(0, 0, 0, 0.5));
}
.buscaContainer .gridContainer .item h1{
    color: #fff;
    font-size: 22px;
    text-align: center;
    margin: 0;
    padding: 0;
}
.buscaContainer .gridContainer .item a{
    width: 280px;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    background-color: #F9A101;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 5px;
    padding: 10px 0 10px 0;
    margin-top: 10px;
    transition: all 0.4s;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.5);
}
.buscaContainer .gridContainer .item a:hover{
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.5);
    transform: scale(1.1);
}